@mixin mobile-width() {
    width: 90vw;
}

@mixin mobile-height() {
    height: 100vh;
}

.introduction-wrapper {
    @include flex-layout();
    @include align-center();
    @include flex-layout-column();
    height: 90vh;
    margin-top: 4rem;

    img {
        margin-top: 3rem;
        margin-bottom: -4rem;
        z-index: 2;
    }

    .dialogue-slot {
        @include flex-layout();
        @include align-center();
        height: 3rem;
        width: 100vw;

        h1 {
            @include speech-bubble();
        }

        @include small-mobile() {
            @include mobile-width();
        }

        @include mobile() {
            @include mobile-width();
        }

        @include tablet() {
            @include mobile-width();
        }
    }

    a {
        @include button();
    }

    .introduction-background {
        width: 100%;
    }

    @include small-mobile() {
        @include mobile-height();
    }

    @include mobile() {
        @include mobile-height();
    }

    @include tablet() {
        @include mobile-height();
    }
}