<ng-container *ngIf="addressDetail">
    <div @fade class="address-detail-card">
        <p><span [innerText]="addressDetail.addressee"></span></p>
        <p><span [innerText]="addressDetail.street1"></span></p>
        <p *ngIf="addressDetail.street2"><span [innerText]="addressDetail.street2"></span></p>
        <p><span [innerText]="addressDetail.town">{{ addressDetail.town }}</span></p>
        <p><span [innerText]="addressDetail.county"></span></p>
        <p><a [routerLink]="addressDetail.addressId" [innerText]="'See Address'"></a></p>
    </div>
</ng-container>