.form {
    @include flex-layout();
    @include flex-layout-column();

    label {
        display: block;
        color: $color-five;;
        font-size: .85rem;
        margin-bottom: 1rem;
    }

    input {
        @include text-input();
    }

    .invalid-field {
        display: flex;
        width: auto;
        color: $color-six;
        margin: 0 0 1rem 0;
        padding: .5rem;
        border: .125rem solid $color-six;

        p {
            margin: 0;
        }
    }

    button {
        @include button();
    }
}