<div class="address-component-wrapper">
    <h2 [innerText]="'Add Addresses'"></h2>
    <form *ngIf="addressForm" class="form" [formGroup]="addressForm" (ngSubmit)="addAddress(addressForm)">
        <app-address-form-error [label]="'Addressee'" [control]="form['addressee']">
            <input id="addressee" type="text" formControlName="addressee">
        </app-address-form-error>
        <app-address-form-error [label]="'Street Line One'" [control]="form['streetLineOne']">
            <input id="streetLineOne" type="text" formControlName="streetLineOne">
        </app-address-form-error>
        <app-address-form-error [label]="'Street Line Two'" [control]="form['streetLineTwo']">
            <input id="streetLineTwo" type="text" formControlName="streetLineTwo">
        </app-address-form-error>
        <app-address-form-error [label]="'Town'" [control]="form['town']">
            <input id="town" type="text" formControlName="town">
        </app-address-form-error>
        <app-address-form-error [label]="'County'" [control]="form['county']">
            <input id="county" type="text" formControlName="county">
        </app-address-form-error>
        <app-address-form-error [label]="'Postcode'" [control]="form['postcode']" [minLength]="5" [maxLength]="8">
            <input id="postcode" type="text" formControlName="postcode">
        </app-address-form-error>
        <button type="submit">Add Address</button>
    </form>
</div>